@{
    ViewBag.Title = "About";
}

<div class="container col-md-6 col-md-offset-3">
    <h3>@ViewBag.Message</h3>
    <hr />
    <br />
    <h3 class="text-info">
        <p>
            Petes Salon is the best salon in town. <br />

            We have the very best products and services for beauty.<br />

            Call us tooday and schedule an appointment!

        </p>
    </h3>

        <h3>Our Services include the following:</h3>
        <br />
        <ol>
            <li class="text-warning"><h5>Hair and Beauty Therapies</h5></li>
            <li class="text-warning"><h5>Pedicures and Foot Massage</h5></li>
            <li class="text-warning"><h5>Nail Art and Nail Salon</h5></li>
            <li class="text-warning"><h5>Spa and Steam Baths</h5></li>
            <li class="text-warning"><h5>In-House stylists</h5></li>
        </ol>
   
 </div>