@{
    ViewBag.Title = "Contact";
}

<div class="container col-md-6 col-md-offset-3">
    <h3>@ViewBag.Message</h3>
    <hr />
    <br />

    <h4><b>Feel free to call or write to us at any time :-)</b></h4>
    <br />
    <br />
    <address>
        2345 Woodvale Court<br />
        Kilimani, Nrb 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        +254 (0) 7425.555.0100
    </address>


    <address>

        <strong>Support:</strong>   <a href="mailto:karisachai01@gmail.com">karisachai01@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:karisachai01@gmail.com">karisachai01@gmail.com</a>

    </address>
</div>