@{
    ViewBag.Title = "Home Page";
}
<br />
<br />

@*<div class="container-fluid">
    <img src="~/Content/Images/salon-1-wide.jpg" alt="main_image" height="300" width="1000"/>
</div>*@

<div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
        <h1 class="text-center">Pete's Salon</h1>
        <p class="lead text-center">The No. 1 Beauty Parlor in Nairobi.</p>
        <p class="text-center"><a href="/ProductAndServices/Index" class="btn btn-success btn-lg">Browse Services</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center">Prices.</h2>
            <p class="text-center">
                We have the BEST rates in town! From as low as KES 200.
            </p>
            <p><a class="btn btn-info btn-block text-center" href="/ProductAndServices/Index">Show Me</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Products</h2>
            <p class="text-center">Review our hair and beauty products and enjoy low rates.</p>
            <p><a class="btn btn-info btn-block text-center" href="/ProductAndServices/Index">Book Now</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Beauty</h2>
            <p class="text-center">From massages to waxes and pedicures, we've got you covered.</p>
            <p><a class="btn btn-info btn-block text-center" href="/ProductAndServices/Index">Yaaas!</a></p>
        </div>
    </div>
</div>